<!-- <h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>
 -->
<div class="question">
<%= @question %>
<p></p>
<p></p>
<p>- You</p>
</div>

<div class="answer">
<%= @answer %>
<p></p>
<p></p>
<p>- Your coach</p>
</div>

